<div class="container">

  <div class="info-card">
    <div class="top">
      <h2 class="header">Joris Kühnast</h2>
    </div>
    <div class="middle">
      <h1 class="header">coming soon...</h1>
      <p class="paragraph">The website is in progress!</p>
    </div>
    <div class="bottom">
      <div class="socials">
        <a href="https://www.linkedin.com/in/joris-kühnast-b15458187/" class="social-icon" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/joris_kuehnast/" class="social-icon" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/joris-k" class="social-icon" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
  </div>

</div>

